{
  "presets": [
    "latest",
    "react",
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-class-properties",
    "transform-runtime",
    "transform-export-extensions",
    "transform-object-rest-spread",
    ["module-resolver", {
      "root": ["./app"]
    }]
  ]
}
