{
  parser: "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jasmine": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"]
}
